[Desktop Entry]
Type=Application
Name=ArttulOS Boot Message
Exec=chromium-browser --kiosk --app=file:///home/builder/branding/boot-message.html
Terminal=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-Cinnamon-Autostart-enabled=true
